# Python cache / IDE
__pycache__/
*.pyc
.venv/
env/
.DS_Store
.vscode/
.idea/

# Logs & mlflow
mlruns/
logs/
*.log

# Keep data catalog for /recommend, but ignore heavy folders
data/raw/
data/processed/

# Git
.git/
.gitignore